/* styles.css (ou le fichier CSS de votre choix) */

.big-container {
  height: 100svh;
  margin: 20px auto; /* Centre le conteneur horizontalement avec une marge */
  padding: 20px;
}

.title-container {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.settings-card {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

/* Ajoutez une séparation entre les app-setting */
.app-setting {
  margin-bottom: 10px;
}

/* frequency label */
.frequency-label {
  text-align: center;
}

.frequency-label h3 {
  margin: 0;
  font-size: 16px;
  color: #555;
}

/* Styling for number input */
.frequency-label input {
  width: 50px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

/* Hover effect for the input */
.frequency-label input:hover,
.frequency-label input:focus {
  border-color: #3498db;
}

/* Focus effect for the input */
.frequency-label input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Disabled state for the input */
.frequency-label input:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

/* Hover effect on button */
button:hover {
  background-color: #45a049;
}

app-setting {
  margin: 20px;
}
