<div class="big-container">
<div class="title-container">
  Réglages
</div>
<div class="settings-container">
  <!--<div class="frequency-label">
    <h3>Fréquence de récupération des données</h3>
    <input type="number" [(ngModel)]="fetchFrequency" min="1" /> minutes
  </div>-->
  <div class="settings-card">
  <app-setting icon="camera_alt" title="Caméra" [sliderValue]="settings['camera'].sliderValue" (sliderChange)="onSliderChange('camera', $event)"></app-setting>
  <app-setting icon="bluetooth" title="Détection Bluetooth" [sliderValue]="settings['bluetooth'].sliderValue" (sliderChange)="onSliderChange('bluetooth', $event)"></app-setting>
  <app-setting icon="wifi" title="Détéction Wifi" [sliderValue]="settings['wifi'].sliderValue" (sliderChange)="onSliderChange('wifi', $event)"></app-setting>
  </div>
  </div>
  <button (click)="generateJsonFile()">Enregistrer les réglages</button>
</div>
