<!--<div class="big-container">
  <div class="card-container">
    <div class="card">
      <app-tab></app-tab></div>
      <div class="card">
      <app-vertical-chart
        [chartLabels]="['Semaine 1', 'Semaine 2', 'Semaine 3']"
        [chartData]="['32', '35', '34']"
        [chartDataName]="'Presence des eleves par semaine'"
      ></app-vertical-chart>
    </div>
  </div>
</div>-->

<div class="big-container">
  <div *ngIf="imageSrc" style="padding-top: 30%;padding-bottom: 5%;">
    <img [src]="imageSrc" alt="Dashboard Image">
  </div>
</div>


